/*
 *  assignment 16 solution
 */

.container .wrapper {
  background-color: #f00;
  float: left;
  margin-right: 400px;
}

.container .navigation {
  background-color: #0f0;
  float: left;
  width: 200px;
  margin-left: -200px;
}

.container .extra {
  background-color: #00f;
  float: left;
  width: 200px;
  margin-left: -400px;
}

.container .footer {
  clear: both;
}
