/*
 *  assignment 40 solution
 */

.container {
  background-color: #ff0;
  width: 700px;
  margin: 0 auto;
}
.container .wrapper {
  background-color: #f00;
}

.container .navigation {
  background-color: #0f0;
  float: right;
  width: 50%;
}

.container .extra {
  background-color: #00f;
  float: right;
  width: 50%;
}

.container .footer {
  clear: both;
}
